<div class="container">
    <div class="row">

        <div class="col">
           
            <img [src]="netImage" width="700" height="502"  >
        </div>

        <div class="col">
  
        <h1>JSOn 1</h1>
        <h2> Weinige info in Json dus ik moest een andere onderwerp kiezen</h2>
        <p>Bereikzone basisonderwijs vrije net</p>
                <h1>JSOn 2</h1>
                <p>Deze dataset bevat alle locaties van openbare toiletten (adres en coördinaten) in de stad Antwerpen en haar districten.</p>
            </div>


    </div>
</div>